body {
  background: #1D1F21;
  color: #C5C8C6;
}

.livechan_chat_output_chat {
  background: #282A2E;
  font-family: sans-serif;
  margin: 4px;
  padding: 4px;
}

.livechan_chat_input *{
  background: #C5C8C6;
  color: #282A2E;
}

.livechan_internallink, .livechan_chat_output_count {
  color: #5F89AC;
}

.livechan_chat_output_name {
  font-weight: bold;
}

.livechan_internallink:hover, .livechan_chat_output_count:hover {
  color: #81A2BE;
  cursor: pointer;
}

.livechan_greentext {
  color: #B5BD68;
}

.livechan_boldtext {
  font-weight: bold;
}
