input, textarea, select {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.livechan_chat_input {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 43px;
  left: 0;
  right: 0;
}

.livechan_chat_input_name {
  padding: 0;
  padding-left: 2px;
  margin: 0;
  border: none;
  position: absolute;
  width: 104px;
  left: 3px;
  top: 3px;
}

.livechan_chat_input_file {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 106px;
  left: 3px;
  bottom: 3px;
  border: none;
}

.livechan_chat_input_message_div {
  padding:0;
  margin:0;
  position: absolute;
  right: 53px;
  left: 112px;
  top: 3px;
  bottom: 3px;
}

.livechan_chat_input_message {
  padding: 0;
  margin: 0;
  border:none;
  height: 100%;
  width: 100%;
  resize: none;
}

.livechan_chat_input_submit {
  position: absolute;
  width: 47px;
  top: 3px;
  right: 3px;
  bottom: 3px;
  border: none;
}

.livechan_chat_output {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 43px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.livechan_chat_output_chat {
  max-height: 200px;
  overflow: hidden;
}

.livechan_chat_output_date {
  margin: 0 4px;
}

.livechan_chat_output_count:hover {
  cursor: pointer;
}

.livechan_chat_capcode {
    margin: 0 4px;
    font-style: italic;
    font-weight: lighter;
}